.custom-input {
    max-width: 300px; /* Adjust the maximum width as needed */
    margin: 0 auto;   /* Center the inputs horizontally */
}

.custom-input .form-control {
    border: 1px solid #000000; /* Add your preferred border color */
    border-radius: 5px; /* Add border radius for rounded corners, adjust as needed */
    padding: 5px; /* Add padding to make it visually appealing */
}

button.btn-custom {
    background-color: lightgreen; /* Set your desired background color */
    color: #000000; /* Set the text color for contrast */
    /* Add any other styles you want */
}

body {
    padding-top: 70px; /* Adjust the value based on the height of your navbar */
}


#map {
height: 400px;
}

table {
    border: 2px solid black;
    background-color: #6e6c6c; /* Gray background color */
    width: 100%;
    margin-top: 10px; /* Add some margin for better spacing */
}

th, td {
    border: 1px solid black;
    padding: 8px;
    text-align: left;
}

td.parameter {
    border-right: 2px solid black; /* Add a border to the right of parameter column */
}
